In [1]:
import pandas as pd

## Input and view data training

In [2]:
df = pd.read_csv('C:\\Users\\ASUS\\Documents\\Machine Learning\\ml\\data_training3.csv')
df

,Cap waktu,Jenis Kelamin,Umur,Universitas,Jenis_Program_Studi,Kualitas_Dosen,Kepuasan_Infrastruktur,Keluhan_Fisik,Kendala_Online,Performa_Akademik,Keluhan_Psikis,Kepuasan_Online
0,2023/05/04 6:38:59 PM GMT+7,Laki - Laki,17 - 20 Tahun,Universitas Internasional Batam,Non Computing & Non Engineering,3,3,Sering Mengantuk,Tidak Ada Kendala / Tidak Ada Diatas,4,Bosan;Stress;Tidak Ada Keluhan / Tidak Ada Diatas,3
1,2023/05/04 6:58:47 PM GMT+7,Laki - Laki,17 - 20 Tahun,Universitas Internasional Batam,Computing & Engineering,4,3,Tidak Ada Keluhan / Tidak Ada Diatas,Tidak Ada Kendala / Tidak Ada Diatas,5,Tidak Ada Keluhan / Tidak Ada Diatas,4
2,2023/05/04 10:19:12 PM GMT+7,Laki - Laki,21 - 23 Tahun,Politeknik Negeri Batam,Computing & Engineering,2,4,Badan Pegal,Tidak Ada Kendala / Tidak Ada Diatas,1,Patah Hati,1
3,2023/05/07 9:28:13 PM GMT+7,Perempuan,17 - 20 Tahun,Universitas Universal,Computing & Engineering,3,3,Kelelahan Mata;Sering Mengantuk;Badan Pegal,Kendala Internet,3,Bosan;Stress;Cemas;Depresi,3
4,2023/05/10 12:45:46 PM GMT+7,Perempuan,17 - 20 Tahun,Universitas Putera Batam,Computing & Engineering,1,1,Sering Mengantuk;Badan Pegal;Sulit Istirahat,Kendala Internet;Kendala Perangkat,4,Cemas,2
...,...,...,...,...,...,...,...,...,...,...,...,...
112,2023/05/16 10:16:24 PM GMT+7,Laki - Laki,17 - 20 Tahun,Universitas Internasional Batam,Computing & Engineering,4,4,Tidak Ada Keluhan / Tidak Ada Diatas,Tidak Ada Kendala / Tidak Ada Diatas,4,Tidak Ada Keluhan / Tidak Ada Diatas,4
113,2023/05/16 11:12:51 PM GMT+7,Laki - Laki,17 - 20 Tahun,Universitas Internasional Batam,Computing & Engineering,3,2,Sering Mengantuk;Badan Pegal,Kendala Internet,3,Bosan,3
114,2023/05/21 12:36:54 AM GMT+7,Laki - Laki,17 - 20 Tahun,Universitas Internasional Batam,Computing & Engineering,2,3,Kelelahan Mata,Kendala Listrik,4,Stress,4
115,2023/05/21 12:38:16 AM GMT+7,Laki - Laki,21 - 23 Tahun,Universitas Internasional Batam,Computing & Engineering,3,2,Sakit Kepala,Kendala Internet;Kendala Perangkat,4,Moody-an,4
116,2023/05/21 12:52:37 AM GMT+7,Laki - Laki,17 - 20 Tahun,Universitas Putera Batam,Computing & Engineering,4,2,Kelelahan Mata,Kendala Internet,2,Depresi,4

## Data Preprocessing

In [3]:
from sklearn import preprocessing
def label_array(array) :
    encoder = preprocessing.LabelEncoder()
    encoder.fit(array.unique())
    encoded_value = encoder.transform(array)
    return encoded_value

In [4]:
X1 = pd.DataFrame({"":label_array(df['Universitas'],)})
X2 = pd.DataFrame({"":label_array(df['Jenis_Program_Studi'],)})
X3 = pd.DataFrame({"":label_array(df['Keluhan_Fisik'],)})
X4 = pd.DataFrame({"":label_array(df['Kendala_Online'],)})
X5 = pd.DataFrame({"":label_array(df['Keluhan_Psikis'],)})

print("")
print(X1.to_string(index=False, header=False))

print("")
print(X2.to_string(index=False, header=False))

print("")
print(X3.to_string(index=False, header=False))

print("")
print(X4.to_string(index=False, header=False))

print("")
print(X5.to_string(index=False, header=False))

2
2
1
4
3
2
2
0
1
4
2
2
2
2
1
3
2
3
2
3
2
2
3
0
2
3
3
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
3
2
2
2
3
2
2
2
2
2
3
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
4
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
3

1
0
0
0
0
0
1
0
0
1
1
0
0
1
1
1
1
1
0
0
0
1
1
0
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
1
0
1
1
1
0
1
1
1
1
1
1
1
0
1
1
1
0
1
1
0
0
1
0
1
0
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
1
0
0
0
0
0
0

14
19
 0
 9
16
12
 1
19
 3
 6
 5
14
19
19
20
 1
19
20
19
17
18
 4
19
 1
 1
19
 8
 2
14
10
 1
 0
10
 1
 1
19
 4
19
20
19
19
19
19
19
19
14
19
19
19
19
19
19
19
19
19
10
 1
19
10
19
19
 1
 1
 1
17
19
 1
19
19
19
19
19
19
19
19
19
 7
 0
13
11
19
15
19
19
 1
14
19
19
19
19
14
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
 1
19
19
19
19
19
19
15
 1
10
 1

7
7
7
0
3
5
2
7
3
2
0
2
7
7
7
0
4
3
4
6
4
0
7
7
0
7
7
0
1
7
0
0
7
0
7
7
0
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
0
7
7
7
0
7
7
7
0
7
7
7
7
7
7
7
7
0
7
7
0
7
1
7
7
0
7
7
7
0
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
0
4
3
0

 6
17
15
 4
 8
10
 8
 4
10
 5
 0
 3
17
17
 0
17
17
 8
17
 7
 8
 0
17
14
 0
17
 0
 0
 1
12
 0
 0
12
 2
17
17
 2
17
17
17
17
17
17
17
17
17
17
13
12
17
17
12
17
17
17
 1
17
 0
12
17
 0
17
17
12
 0
12
17
17
17
17
17
17
12
 0
17
17
 0
17
 9
 0
17
 0
12
17
17
17
17
17
17
17
17
17
12
17
17
12
17
17
 1
17
 1
17
17
17
17
17
17
17
17
17
17
 0
17
 0
16
12
11

In [5]:
y = df['Kepuasan_Online']
print(y.to_string(index=False, header=False))

3
4
1
3
2
3
4
1
4
2
4
4
5
5
4
4
5
5
5
5
5
4
5
4
3
4
3
3
2
2
4
3
2
3
3
3
3
3
4
4
5
4
3
3
3
3
3
3
3
3
3
3
3
3
3
2
3
3
3
3
3
5
3
5
4
3
4
4
4
3
3
3
5
5
4
4
3
4
3
3
5
3
3
3
3
5
5
4
5
4
4
5
4
5
4
4
5
5
5
5
5
5
5
5
4
4
4
5
5
4
4
4
4
3
4
4
4

In [6]:
pp_df = pd.concat([X1, X2, X3, X4, X5], axis=1)
pp_df.columns = ['Universitas', 'Jenis_Program_Studi', 'Keluhan_Fisik', 'Kendala_Online', 'Keluhan_Psikis']
pp_df.insert(0, "Model", "Random Forest Classifier")
pp_df = pp_df.drop('Model', axis=1)
pp_df

,Universitas,Jenis_Program_Studi,Keluhan_Fisik,Kendala_Online,Keluhan_Psikis
0,2,1,14,7,6
1,2,0,19,7,17
2,1,0,0,7,15
3,4,0,9,0,4
4,3,0,16,3,8
...,...,...,...,...,...
112,2,0,19,7,17
113,2,0,15,0,0
114,2,0,1,4,16
115,2,0,10,3,12
116,3,0,1,0,11

In [7]:
new_data = pd.read_csv('data_training3.csv')

In [8]:
new_df1 = df['Kualitas_Dosen'].values
new_df2 = df['Kepuasan_Infrastruktur'].values
new_df3 = df['Performa_Akademik'].values

In [9]:
new_df = pd.DataFrame({
    'Kualitas_Dosen': new_df1 , 
    'Tingkat_Infrastruktur': new_df2,
    'Performa_Akademik': new_df3 
})

new_df

     Kualitas_Dosen  Tingkat_Infrastruktur  Performa_Akademik
0                 3                      3                  4
1                 4                      3                  5
2                 2                      4                  1
3                 3                      3                  3
4                 1                      1                  4
..              ...                    ...                ...
112               4                      4                  4
113               3                      2                  3
114               2                      3                  4
115               3                      2                  4
116               4                      2                  2

[117 rows x 3 columns]

In [10]:
df = pd.concat([pp_df, new_df], axis=1)
df

,Universitas,Jenis_Program_Studi,Keluhan_Fisik,Kendala_Online,Keluhan_Psikis,Kualitas_Dosen,Tingkat_Infrastruktur,Performa_Akademik
0,2,1,14,7,6,3,3,4
1,2,0,19,7,17,4,3,5
2,1,0,0,7,15,2,4,1
3,4,0,9,0,4,3,3,3
4,3,0,16,3,8,1,1,4
...,...,...,...,...,...,...,...,...
112,2,0,19,7,17,4,4,4
113,2,0,15,0,0,3,2,3
114,2,0,1,4,16,2,3,4
115,2,0,10,3,12,3,2,4
116,3,0,1,0,11,4,2,2

In [11]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.5, random_state=100)

In [12]:
X_train

,Universitas,Jenis_Program_Studi,Keluhan_Fisik,Kendala_Online,Keluhan_Psikis,Kualitas_Dosen,Tingkat_Infrastruktur,Performa_Akademik
101,2,1,19,7,17,4,4,4
69,2,1,19,7,17,3,3,3
0,2,1,14,7,6,3,3,4
18,2,0,19,4,17,5,5,5
44,3,0,19,7,17,3,3,3
38,2,1,20,7,17,4,4,4
39,2,1,19,7,17,4,4,4
80,2,0,19,7,17,4,5,4
110,2,1,19,7,17,4,4,4
30,2,1,1,0,0,3,3,4
56,3,0,1,0,17,3,3,3
91,2,1,19,7,17,4,4,4
105,2,1,19,7,17,5,5,4
63,2,1,1,7,12,3,3,4
19,3,0,17,6,7,5,5,3
92,2,1,19,7,12,4,4,4
71,2,1,19,7,17,3,3,3
55,2,1,10,7,1,2,2,2
102,2,1,19,7,17,5,5,5
61,2,1,1,7,17,3,3,4
65,2,1,19,7,12,4,4,4
47,3,1,19,7,13,3,3,3
49,3,1,19,7,17,3,3,3
7,0,0,19,7,4,1,2,1
114,2,0,1,4,16,2,3,4
59,2,0,19,7,17,3,3,3
90,2,1,14,7,17,4,4,4
83,2,1,19,7,17,3,3,3
13,2,1,19,7,17,5,5,5
1,2,0,19,7,17,4,3,5
31,2,1,0,0,0,3,3,3
4,3,0,16,3,8,1,1,4
27,2,1,2,0,0,3,2,3
2,1,0,0,7,15,2,4,1
86,2,1,19,7,17,5,4,5
93,2,1,19,7,17,4,4,4
9,4,1,6,2,5,3,1,1
16,2,1,19,4,17,5,5,4
58,2,1,10,7,12,3,3,2
60,2,0,19,0,0,3,3,3
15,3,1,1,0,17,4,3,4
115,2,0,10,3,12,3,2,4
34,2,1,1,7,17,3,3,3
14,1,1,20,7,0,5,4,4
106,2,1,1,7,17,4,5,4
66,2,1,1,7,17,4,3,4
53,2,1,19,7,17,3,3,3
98,2,1,19,7,1,4,5,5
52,3,0,19,7,17,3,3,3
94,2,1,19,7,17,4,4,4
10,2,1,5,0,0,3,3,4
48,3,1,19,7,12,3,3,3
79,2,0,11,7,0,5,5,4
87,2,1,19,7,17,5,5,5
103,2,1,19,7,17,4,5,5
67,2,1,19,7,17,3,4,4
24,2,1,1,0,0,4,3,4
8,1,0,3,3,10,4,4,4

In [13]:
X_test
y_train

101    5
69     3
0      3
18     5
44     3
38     4
39     4
80     5
110    4
30     4
56     3
91     5
105    4
63     5
19     5
92     4
71     3
55     2
102    5
61     5
65     3
47     3
49     3
7      1
114    4
59     3
90     4
83     3
13     5
1      4
31     3
4      2
27     3
2      1
86     5
93     5
9      2
16     5
58     3
60     3
15     4
115    4
34     3
14     4
106    4
66     4
53     3
98     5
52     3
94     4
10     4
48     3
79     3
87     4
103    5
67     4
24     3
8      4
Name: Kepuasan_Online, dtype: int64

# Modeling

### Random Forest Classifier

In [14]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

RandomForestClassifier()

## Training the model

In [15]:
y_rfc_train_pred = rfc.predict(X_train)
y_rfc_test_pred = rfc.predict(X_test)

In [16]:
y_rfc_train_pred

array([4, 3, 3, 5, 3, 4, 4, 5, 4, 4, 3, 4, 4, 5, 5, 4, 3, 2, 5, 5, 4, 3,
       3, 1, 4, 3, 4, 3, 5, 4, 3, 2, 3, 1, 5, 4, 2, 5, 3, 3, 4, 4, 3, 4,
       4, 4, 3, 5, 3, 4, 4, 3, 3, 5, 5, 4, 3, 4], dtype=int64)

In [17]:
y_rfc_test_pred

array([4, 5, 3, 3, 5, 3, 5, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 2, 4,
       5, 5, 3, 3, 3, 4, 2, 4, 3, 4, 3, 3, 5, 4, 3, 5, 4, 4, 4, 3, 5, 3,
       3, 4, 4, 5, 3, 5, 5, 3, 4, 3, 5, 3, 3, 5, 4], dtype=int64)

## Evaluasi Model

In [18]:
#Input Model
from sklearn.metrics import accuracy_score, precision_score

rfc_train_accuracy = accuracy_score(y_train, y_rfc_train_pred)
rfc_test_accuracy = accuracy_score(y_test, y_rfc_test_pred)

rfc_train_precision = precision_score(y_train, y_rfc_train_pred, average='weighted', zero_division=0)
rfc_test_precision = precision_score(y_test, y_rfc_test_pred, average='weighted', zero_division=0)

print('Train Accuracy:', rfc_train_accuracy)
print('Test Accuracy:', rfc_test_accuracy)
print('Train Precision:', rfc_train_precision)
print('Test Precision:', rfc_test_precision)

Train Accuracy: 0.9137931034482759
Test Accuracy: 0.7457627118644068
Train Precision: 0.9203239289446186
Test Precision: 0.747349728004316

In [19]:
rfc_result = pd.DataFrame(('Random Forest Classifier', rfc_train_accuracy, rfc_test_accuracy, rfc_train_precision, rfc_test_precision)).transpose()
rfc_result.columns = ['Model', 'Accuracy Train', 'Accuracy Test', 'Precision Train', 'Precision Test']
rfc_result

,Model,Accuracy Train,Accuracy Test,Precision Train,Precision Test
0,Random Forest Classifier,0.913793,0.745763,0.920324,0.74735

## Save the trained model

In [20]:
import sklearn
import joblib

scikit_ver = sklearn.__version__
print(scikit_ver)

joblib.dump(rfc,"RFC_117(1.0.2).pkl")

1.0.2

['RFC_117(1.0.2).pkl']